.profile__edit{
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-left: 17px;
  transition: opacity 0.2s linear;
}

.profile__edit:hover{
  opacity: 0.6;
}

@media screen and (max-width: 780px){
  .profile__edit{
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }
}