.places__name-space{
  background-color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #000000;
  border-radius: 0px 0px 10px 10px;
  padding: 24px 15px 27px 21px;
}