.popup__btn-close{
  background-image: url(../../../image/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(45deg);
  padding: 0;
  align-self: flex-end;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.popup__btn-close:hover{
  opacity: 0.6;
}
.popup__btn-close:focus{
  outline: none;
}

@media screen and (max-width: 720px){
  .popup__btn-close{
    width: 30px;
    height: 30px;
  }
}